#canvas {
  position: absolute;
  width: calc(100% - 361px);
  height: calc(100% - 71px);
  top: 71px;
  left: 361px;
  z-index: 0;
  overflow: auto;
  .blockelem:first-child {
    margin-top: 20px;
  }
  .blockelem {
    padding-top: 10px;
    width: 318px;
    border: 1px solid transparent;
    transition-property: box-shadow, height;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.05,.03,.35,1);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(22, 33, 74, 0);
    box-sizing: border-box;
    .grabme, .blockico {
      display: inline-block;
    }
    .grabme {
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: -14px;
      width: 15px;
    }
    .blockin {
      display: inline-block;
      vertical-align: top;
      margin-left: 12px;
      .blockico {
        width: 36px;
        height: 36px;
        background-color: #F1F4FC;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
        span {
          height: 100%;
          width: 0px;
          display: inline-block;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
          margin-left: auto;
          margin-right: auto;
          display: inline-block;
        }
      }
      .blocktext {
        display: inline-block;
        width: 220px;
        vertical-align: top;
        margin-left: 12px;
        .blocktitle {
          margin: 0 !important;
          padding: 0 !important;
          font-family: Roboto;
          font-weight: 500;
          font-size: 16px;
          color: #393C44;
        }
        .blockdesc {
          margin-top: 5px;
          font-family: Roboto;
          color: #808292;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .blockyleft {
      display: inline-block;
      margin-left: 20px;
      img {
        display: inline-block;
        vertical-align: middle;
      }
      .blockyname {
        font-family: Roboto;
        font-weight: 500;
        color: #253134;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        font-size: 16px;
      }
    }
    .blockyright {
      display: inline-block;
      float: right;
      vertical-align: middle;
      margin-right: 20px;
      margin-top: 10px;
      width: 28px;
      height: 28px;
      border-radius: 5px;
      text-align: center;
      background-color: #FFF;
      transition: all .3s cubic-bezier(.05,.03,.35,1);
      z-index: 10;
    }
    .blockydiv {
      width: 100%;
      height: 1px;
      background-color: #E9E9EF;
    }
    .blockyinfo {
      font-family: Roboto;
      font-size: 14px;
      color: #808292;
      margin-top: 15px;
      text-indent: 20px;
      margin-bottom: 20px;
      span {
        color: #253134;
        font-weight: 500;
        display: inline-block;
        border-bottom: 1px solid #D3DCEA;
        line-height: 20px;
        text-indent: 0px;
      }
    }
  }
  .blockelem:hover {
    box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.08);
    border-radius: 5px;
    background-color: #FFF;
    cursor: pointer;
  }
  .selectedblock {
    border: 2px solid #217CE8;
    box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.08);
  }
}
