body, html {
  /*margin: 0;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-image: url(assets/tile.png);
  background-repeat: repeat;
  background-size: 30px 30px;
  background-color: #FBFBFB;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blockelem:first-child {
  margin-top: 20px;
}
.blockelem:hover {
  box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.08);
  border-radius: 5px;
  background-color: #FFF;
  cursor: pointer;
}
.blockelem {
  padding-top: 10px;
  width: 318px;
  border: 1px solid transparent;
  transition-property: box-shadow, height;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.05,.03,.35,1);
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(22, 33, 74, 0);
  box-sizing: border-box;
  .grabme, .blockico {
    display: inline-block;
  }
  .grabme {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -14px;
    width: 15px;
  }
  .blockin {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    .blockico {
      width: 36px;
      height: 36px;
      background-color: #F1F4FC;
      border-radius: 5px;
      text-align: center;
      white-space: nowrap;
      span {
        height: 100%;
        width: 0px;
        display: inline-block;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
      }
    }
    .blocktext {
      display: inline-block;
      width: 220px;
      vertical-align: top;
      margin-left: 12px;
      .blocktitle {
        margin: 0 !important;
        padding: 0 !important;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        color: #393C44;
      }
      .blockdesc {
        margin-top: 5px;
        font-family: Roboto;
        color: #808292;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
